@use "variables" as var;

@mixin reset {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin text-style($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin media($size) {
  @if ($size == M) {
    @media (max-width: 768px) {
      @content;
    }
  } @else if($size == L) {
    @media (min-width: 768px) and (max-width: 1280px) {
      @content;
    }
  }
}

@mixin body-style {
  background-color: var.$secondary-color;
  height: 600px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-style {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

@mixin text-gradient {
  background: #0284c7;
  background: linear-gradient(to right, #0284c7 20%, #c084fc 48%, #7e22ce 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bg-set {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
